{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block content %}

<!-- banner 생성구간입니다. -->
<div style="margin-top: 100px;" class="card text-bg-dark">
  <img style="height: 150px; filter: brightness(50%); background-size: cover; object-fit: cover;" 
       src="{%static 'images/60.png'%}" class="card-img" alt="회사소개 윗부분 사진입니다.">
  <div class="card-img-overlay">
      <div style="margin-top: 50px; margin-left: 90px;">
          <p style="text-align: center; animation: fadeIn; animation-duration: 2s; font-size: 27px;" 
             class="animate__animated animate__fadeIn card-title">
             SH건설산업 기계타설전문 홈페이지를방문해주신 여러분 진심으로 환영합니다.
          </p>
      </div>
</div>

<!--  -->
<div style="background-color: #fff;" class="content">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4">
        <div style="margin-top: 100px;">
            <ul style=" list-style: none; margin-left: 80px; text-align: left;">
                <li style=" margin-bottom: 30px;">
                  <a style="font-weight: 400; color: #000; text-decoration: none;" href="./회사연혁.html">
                    회사소개
                  </a>
                </li>
                <li style=" margin-bottom: 30px;">
                  <a style="color: #000; text-decoration: none;" href="./회사연혁.html">회사연혁</a>
                </li>
                <li style="margin-bottom: 30px;">
                  <a style="color: #000; text-decoration: none;" href="./회사연혁.html">특허및인증</a>
                </li>
                <li style="margin-bottom: 30px;">
                  <a style="color: #000; text-decoration: none;" href="./회사연혁.html">오시는길</a>
                </li>
            </ul>
        </div>
      </div>
      <!-- 세로 선 보류 -->
      <!-- <hr style="border-left : thick solid #32a1ce; height : 50px;"> -->
  
      <div style="color: #000; margin-top: 100px; height: 500px;" class="col-sm-8">
        <p>“끊임없는 기술혁신을 통하여 최상의 시공품질 유지 <br>
            “안녕하세요! 에스에이치건설산업 주식회사를 찾아주셔서 감사합니다.” 
        </p>
        <p>
            에스에이치건설산업 주식회사는 정직과 신뢰를 우선으로 하는 경영이념 아래 열정과 도전정신을 회사의 최고의 목표로 하고 있으며, 지금까지의 경험과 시공노하우를 우수한 인력을 통해 최상의 시공품질을 만들어 왔습니다.
  
            에스에이치건설산업 주식회사는 L형측구, 배수공, 터널공동구, 중앙분리대, 철도터널공동구, 도로경계석, 교량난간 방호벽 등 콘크리트기계화시공 전문업체입니다.
            믿음과 신뢰를 중요시하는 에스에이치건설산업 주식회사는 끊임없는 연구와 기술개발을 통하여 콘크리트기계화시공 및 철도 토목분야에 이르기까지 TOTAL 종합시공 시스템을 보유하고 있습니다. 
  
            당사는 다년간의 경험과 노하우를 바탕으로 콘크리트 기계화 시공은 물론 각종 철도관련 시공에 이르기까지 대한민국 건설의 모든 현장에 함께하고 있습니다.에스에이치건설산업 주식회사는 설립 이래 끊임없는 변화와 혁신으로 업계를 주도하며 이제는 콘크리트 기계화 시공분야에서 최고의 기업으로 자리매김 하였습니다. 
  
            에스에이치건설산업 주식회사는 선두의 자리는 차지하는 것 보다는 지키는 것이 더 어렵다는 것을 누구보다도 잘 알고 있습니다. 현재의 위치에 안주하지 않고, 축적된 기술력과 우수한 인력을 바탕으로 다시 한번 도약을 준비하고 있습니다. 그 누구보다 고객을 먼저 생각하는 사랑받는 기업이 되겠습니다.
  
            앞으로 당사 모든 임직원 일동은 제품에 대한 최고의 품질과 서비스로 고객만족에 앞장설 것이며, 고객의 고마움에 보답할 것을 약속드립니다. 감사합니다.
        </p>
      </div>
      
    </div>
  </div>
</div>


{% endblock %}