<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <body>
    <h1>공사실적</h1>
    <div class = "col-12">
        <table class = "table table-light">
            <thead class = "thead-light">
                <tr>
                    <th>번호</th>
                    <th>공사명</th>
                    <th>발주처</th>
                    <th>공사기간</th>
                </tr>
            </thead>
            <tbody class = "text-dark">
                {% for p_article in p_articles %}
                <tr onclick = "location.href = '/p_articles/{{p_article.id}}'">
                    <th>{{ p_article.id }}</th>
                    <th>{{ p_article.title }}</th>
                    <th>{{ p_article.customer }}</th>
                    <th>{{ p_article.start }} ~ {{ p_article.finish }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
      <a href="{% url 'performances:create' %}">글작성</a>
    </div>
</body>
</html>                                                                                     