{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='d-flex container' style='padding:15rem'>
    {% if equipment.image %}
    <div style='text-align:center'>
        <img src='{{ equipment.image.url }}' alt='{{ equipment.image }}' style='border-radius:4px; width:25rem; height:18rem'>
    </div>
    {% endif %} 
    <div class='px-3 py-3'>
        <h2>{{ equipment.title }}</h2>
        <h4>{{ equipment.content }}</h4>
    </div>
    
    
</div>
<div class='container'>
    {% if request.user.is_superuser == 1 %}
            <div class='mt-2 d-flex justify-content-end'>
                <p>
                <button type="button" class="btn" style="background-color:#14402B" >
                    <a href="{% url 'equipments:update' equipment.pk %}" style='text-decoration:none; color:white' class='fw-bolder'>수정하기</a>
                </button>
                <button type="button" class="btn">
                    <a href="{% url 'equipments:delete' equipment.pk %}" style='text-decoration:none; color:#14402B' class='fw-bolder'>삭제하기</a>
                </button>
                </p>
            </div>
    {% endif %}
</div>
{% endblock %}