{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style='padding:10rem'>
    <form action="" method="POST">
        {% csrf_token %}
        <h2>
            <input class="input-title form-control mb-3" style="border:0px; font-size: 1.5rem;" name="title"
            placeholder="장비 이름을 입력해주세요." value="{{ equipment.title }}"  maxlength="50" required>
        </h2>
        <textarea class="form-control" name="content" required>{{ equipment.content }}</textarea>
        <div class="d-flex justify-content-end">
          <input class="btn" type="submit" value="작성완료">
        </div>
    </form>
</div>
{% endblock %}


