<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        {% csrf_token %}
        <h2>
            <input class="input-title form-control mb-3" style="border:0px; font-size: 1.5rem;" name="title"
            placeholder="장비 이름을 입력해주세요." value="{{ equipment.title }}"  maxlength="50" required>
        </h2>
        <textarea class="form-control" name="content" required>{{ equipment.content }}</textarea>
        <div class="d-flex justify-content-end">
          <input class="btn" type="submit" value="작성완료">
        </div>
    </form>
</body>
</html>