{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style="padding:10rem">
  <div style="text-align:center" >
      <h2 class="fw-bold">장비운영</h2>
  </div>
  <form class='mt-5' action="{% url 'equipments:search' %}" method="">
      {% csrf_token %}
      <div class="d-flex justify-content-end mb-3">
          <input class="form-control search-input mx-2" name="keyword" type="search" placeholder="검색어를 입력해주세요."
              aria-label="Search" style="width: 21rem; height: 3rem; font-weight: 400; ">
          <button type="search" class="btn fw-bold" style="background-color:#14402B; color:white">검색</button>
      </div>
  </form>
  <div class='row'>
    {% for equipment in paginated_equipments%}
    <div class='mt-3 col-sm py-3'>
      <a href="{% url 'equipments:detail' equipment.pk %}" style='text-decoration:none'>
        <div class="card" style="width: 18rem;">
          {% if equipment.image %}
          <img src="{{ equipment.image.url }}" class="card-img-top" alt="{{ equipment.image }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">{{ equipment.title }}</h5>
            {% comment %} <p class="card-text">{{ equipment.content }}</p> {% endcomment %}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% if paginated_equipments %}
<ul class="pagination justify-content-center py-5">
  <!-- 첫 페이지 -->
  {% if paginated_equipments.has_previous %}
  <!-- 이전페이지가 있으면 연결(첫 페이지가 아니면) -->
  <li class="page-item">
    <a class="page-link" style="text-decoration: none; color:black" tabindex="-1" href="?page=1">&#60;</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link" href="#">&#60;</a>
  </li>
  {% endif %}

  <!-- 페이지리스트 -->
  <!-- //페이지 범위를 하나씩 리턴 -->
  {% for page_number in paginated_equipments.paginator.page_range %}
  {% if page_number >= paginated_equipments.number|add:-2 and page_number <= paginated_equipments.number|add:2 %} <!-- // 현재
    페이지일 때는 active -->
    {% if page_number == paginated_equipments.number %}
    <li class="page-item" aria-current="page">
      <a class="page-link" style="background-color: white; color: #14402B; text-decoration: none;"
        href="?page={{ page_number }}">{{ page_number }}</a>
    </li>
    {% else %}
    <li class="page-item text-color-warning">
      <a class="page-link" style="color:black;text-decoration: none;" href="?page={{ page_number }}">
        {{ page_number }}</a>
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}

    <!-- 다음페이지 -->
    {% if paginated_equipments.has_next %}
    <li class="page-item">
      <a class="page-link" style="color:white; text-decoration: none;" href="?page={{ max_index }}">&#62;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" tabindex="-1" href="#">&#62;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
<div class="container">
  {% if request.user.is_superuser == 1 %}
  <a href="{% url 'equipments:create' %}">
    <button type="subit" class="btn fw-bold" style='color:white'>장비 등록</button>
  </a>
  {% endif %}
</div>
{% endblock %}