{% extends "base.html" %}

{% block content %}
    <div style='padding:10rem'>
    {% if not equipments %}
        <div class="d-flex justify-content-center">
            <h4>검색 결과가 없습니다</h4>
        </div>
    {% else %}
        {% for equipment in equipments %}
            {% if equipment.image %}
            <a href="{% url 'equipments:detail' equipment.pk %}"><img src="{{ equipment.image.url }}" x`alt="{{ equipment.image }}"></a>
            {% endif %}
            {{ equipment.title }}
            {{ equipment.content }}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}