{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container" style="padding:10rem">
    <table class = "table table-light">
            <thead class = "thead-light">
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성시간</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody class = "text-dark">
                    <th>{{ notice.title }}</th>
                    <th>{{ notice.user }}</th>
                    <th>{{ notice.created_at | date:'Y.m.d H:i' }}</th>
                    <th>{{ notice.hits }}</th>
                </tr>
            </tbody>
    </table>
    <p>{{ notice.content }}</p>
    {% for photo in notice.photo_set.all%}
        <img src="{{photo.image.url}}" width="300"><br>
    {% endfor %}
    {% if request.user.is_superuser == 1 %}
        <div class='mt-2 d-flex'>
            <p>
            <button type="button" class="btn" >
                <a href="{% url 'notices:update' notice.pk %}" style='text-decoration:none;' class='fw-bolder'>수정하기</a>
            </button>
            <button type="button" class="btn" >
                <a href="{% url 'notices:delete' notice.pk %}" style='text-decoration:none;' class='fw-bolder'>삭제하기</a>
            </button>
            </p>
        </div>
    {% endif %}
</div>
{% endblock %}