{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" style="padding:10rem">
    {% if not notices %}
            <div class="d-flex justify-content-center">
            <h4>검색 결과가 없습니다</h4>
            </div>
    {% else %}
            <div class = "col-12">
                <table class = "table table-light">
                    <thead class = "thead-light">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일자</th>
                        </tr>
                    </thead>
                    <tbody class = "text-dark">
                        {% for notice in notices %}
                        <tr onclick = "location.href = '/notices/{{notice.id}}'">
                            <th>{{notice.id}}</th>
                            <th>{{notice.title}}</th>
                            <th>{{notice.user}}</th>
                            <th>{{notice.created_at}}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endif %}
</div>
{% endblock %}