{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 홈페이지 TITLE 입니다 -->
  <title>{% block title %}SH 건설산업(주){% endblock title %}</title>

      <!-- 오픈그래프 카드  -->
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="SH 건설산업" />
      <meta property="og:title" content="SH 건설산업 KOREA" />
      <meta property="og:description" content="SH 건설산업(주) 회사 홈페이지 입니다." />
      <meta property="og:image" content="{% static 'images/SH건설산업(주)_LOGO.PNG' %}" />
      <meta property="og:url" content="#" />
      <!-- 트위터 카드 -->
      <meta property="twitter:card" content="summary" />
      <meta property="twitter:site" content="SH 건설산업" />
      <meta property="twitter:title" content="SH 건설산업 KOREA" />
      <meta property="twitter:description" content="SH 건설산업(주) 회사 홈페이지 입니다." />
      <meta property="twitter:image" content="{% static 'images/SH건설산업(주)_LOGO.PNG' %}" />
      <meta property="twitter:url" content="#" />

      <!-- CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

      <!--BOOTSTRAP -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
  <!-- style="padding-left: 197px; padding-right: 197px;" -->
  <!-- padding-top: 10px; -->

  <!-- nav 생성 구간입니다. -->
  <nav style="height: 140px; position: fixed;" class="navbar navbar-expand-lg bg-body-light">
    <div  class="container-fluid">
      <a class="navbar-brand" href="#">
        <img style="width: 350px; margin-left: 430px;" src="{%static 'images/SH건설산업(주)_LOGO.PNG'%}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              회사소개
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">시공분야</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">시공실적</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">장비운영</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">커뮤니티</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>







  <!--BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>


{% block body %}

{% endblock body %}